
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


@import "partials/colors";
@import "partials/headings";



.flash{
    background:#f6624a;
    color:white;
    width:200px;
    position: absolute;
    right:20px;
    bottom:20px;
    padding:1em;
    display: none;
}